<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
	<style>
		.nowrap {
      		white-space: nowrap;
  		}
	</style>
    <meta charset="UTF-8"/>
	<link href="/css/style.css" rel="stylesheet" />
	<link href="/datatables/datatables.css" rel="stylesheet" />
	<script src="/datatables/datatables.min.js"></script>
	<script th:inline="none">
	$(document).ready(function(){
		$("#tabela_pessoas").DataTable({
			ajax: "/pessoas/listar_json",
			processing: true,
			serverSide: true,
			responsive: true,
			searching: false,
			//"bSort": false,
			//"aaSorting": [[0, 'asc']],
			"pageLength": 10,
			"language": {
				"decimal": "",
				"emptyTable": "Não há dados disponíveis",
				"info": "_START_ até _END_ de _TOTAL_ registos",
				"infoEmpty": "Mostrando de 0 até 0 de 0 registos",
				"infoFiltered": "(filtrado de _MAX_ registos no total)",
				"infoPostFix": "",
				"thousands": ".",
				"lengthMenu": "Mostrar _MENU_ registos",
				"loadingRecords": "Carregando os dados...",
				"processing": "<span class='fa-stack fa-lg'>\n\
                            <i class='fa fa-spinner fa-spin fa-stack-2x fa-fw'></i>\n\
                       		</span>&emsp;Processando...",
				"search": "Procurar:",
				"zeroRecords": "Não foram encontrados resultados",            
				"aria": {
					"sortAscending": ": ordem crescente",
					"sortDescending": ": ordem decrescente"
				},
				"oPaginate": {
					"sFirst":    "<<",
					"sPrevious": "<",
					"sNext":     ">",
					"sLast":     ">>"
				}
			},
			"columnDefs": [
 				{ 'orderable': false, 'targets': [ 4, 5 ] },
 				{
					"targets": [1],        // coluna número
					"className": "nowrap"  // Adiciona a classe nowrap
				}
			]
		});
	});
	</script>
	<script th:inline="none">
		function detalharPessoa() {
			// Pega todos os checkboxes marcados
			const selecionados = document.querySelectorAll("input[name='listaPessoasSelecionadas']:checked");
			if (selecionados.length === 0) {
				alert("Selecione pelo menos uma pessoa.");
				return;
			}
			const codigo = selecionados[0].value;
			window.location.href = "/pessoas/detalhar_pessoa?codigo=" + codigo;
		}
	</script>
</head>
<body>
	<section class="layout-content" layout:fragment="corpo">

		<nav class="navbar navbar-expand-md bg-light">
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<i class="oi oi-caret-right"></i>
						<span>Lista de Pessoas</span>
					</li>
				</ul>
			</div>
			<a class="btn btn-primary btn-md" href="/pessoas/editar_pesquisa" role="button"> 
				<span  class="fa fa-search fa-lg"title="Cadastro" aria-hidden="true"></span>
			</a>
		</nav>

		<div class="container" id="listagem">
			<div class="table-responsive">
				<table id="tabela_pessoas" class="table table-striped table-hover table-sm">
					<thead>
					<tr>
						<th colspan="6" style="text-align: right;">
							<a href="#" onclick="return detalharPessoa()" 
								onMouseover="window.status=''; return true;" onMouseout="window.status=''; return true;" onFocus="window.status=''; return true;" onBlur="window.status=''; return true;">
								Processos de que participo
							</a> 
						</th>
					</tr>
					<tr>
						<th>Nome</th>
						<th>CPF</th>
						<th>Vínculo Institucional</th>
						<th>Departamento</th>
						<th>Subárea</th>
						<th></th>
					</tr>
					</thead>
				</table>
				<br>
				<br>
				<br>
			</div>
		</div>	        
		<div th:replace="~{fragments/modal :: modal }"></div>			
	</section>
</body>
</html>		